/** allMenu **/
#allMenu{display:none;overflow:auto;position:absolute;left:0;top:-100px;z-index:1000;padding:100px 0 0 0;width:100%;height:100%;font-size:0;text-align:center;background:rgba(255,125,158,0.95);}
#allMenu .inner{position:relative;margin:0 auto;padding:220px 0 0 0;width:1094px;color:#fff}
#allMenu .inner .btn-close{position:absolute;left:0;top:0}
#allMenu .inner .list{width:1137px;font-size:0;text-align:left}
#allMenu .inner .list > li{display:inline-block;margin:50px 0 0 0;font-size:14px;vertical-align:top}
#allMenu .inner .list .tit{margin:0 15px 10px 0;padding:0 16px;height:40px;font-family:'Noto-M';font-size:22px;border-bottom:solid 1px #fff}
#allMenu .inner .list .tit:first-child{margin-right:0 !important}
#allMenu .inner .list .tit + .tit{margin-top:20px}
#allMenu .inner .list .sub + .tit{margin-top:34px}
#allMenu .inner .list .sub{margin:0 15px 0 0;font-size:17px;color:#fff}
#allMenu .inner .list .sub li a{display:block;padding:0 16px;height:34px;line-height:34px}
#allMenu .inner .list .sub li a:hover{color:#db3741;background:#fff}
#allMenu .inner .list .col1{width:174px}
#allMenu .inner .list .col2{width:180px}
#allMenu .inner .list .col3{width:199px}
#allMenu .inner .list .col4{width:196px}
#allMenu .inner .list .col5{width:197px} 
#allMenu .inner .list .col6{width:176px}
/* ë‚¨ì„±ë¯¼ ë§žì¶°ë†“ì€ê²ƒ  ìˆ˜ì •ê¸ˆì§€ */

/* allMenu ë¦¬ë‰´ì–¼ */
#allMenu .box {position:relative; text-align:left; margin:0 auto; padding:220px 0 0 0; width:1094px; color:#fff; font-size:14px;}
#allMenu .box ul.import {margin-bottom:60px;}
#allMenu .box ul.import li {display:inline-block; margin-right:120px;}
#allMenu .box ul.import li a {display:block; font-family:'Noto-B'; font-size:26px;}
#allMenu .box ul.import li a:hover {color:#fff4cc;}
#allMenu .box .list-wrap {margin-bottom:60px;}
#allMenu .box .list-wrap h2 {font-size:26px; font-family:'Noto-B'; border-bottom:2px solid #fff; padding-bottom:20px; margin-bottom:12px;}
#allMenu .box .list-wrap ul:after {display:block; clear:both; content:"";}
#allMenu .box .list-wrap ul li {width:14.28%; float:left;}
#allMenu .box .list-wrap ul li a {display:block; text-indent:15px; font-size:17px; font-family:'Noto-M'; height:33px; line-height:33px;}
#allMenu .box .list-wrap ul li a:hover {background:#fff; color:#ff81a1;}
#allMenu .box .list-wrap ul.wide {margin-bottom:20px; padding-bottom:12px; border-bottom:1px solid rgba(255,255,255,0.4);}
#allMenu .box .list-wrap ul.brand li a {color:#fff4cc;}
#allMenu .box .list-wrap ul.brand li a:hover {color:#ff81a1;}